useDynLib(GOfuncR, .registration = TRUE)
export("go_enrich", "get_names", "get_anno_genes", "get_child_nodes", "get_parent_nodes", "get_anno_categories", "get_ids", "plot_anno_scores", "refine")
importFrom("Rcpp", "evalCpp")
importFrom("utils", "read.table", "write.table", "packageVersion")
importFrom("grDevices", "colors")
importFrom("AnnotationDbi", "select", "keys")
importFrom("graphics", "abline", "arrows", "axis", "grid", "layout", "par", "plot", "text", "points", "legend")
importFrom("stats", "fisher.test", "binom.test", "aggregate", "median", "end", "start", "phyper")
importFrom("stats", "chisq.test", "wilcox.test")
import("mapplots", "gtools", "vioplot", "GenomicRanges")
