useDynLib(FuncBlocks)
export("go_enrich", "get_names", "get_anno_genes", "get_child_nodes", "get_parent_nodes")
importFrom(Rcpp, evalCpp)
importFrom("utils", "read.table", "write.table")

import(gtools)
